#webpage {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#webpage>* {
    align-items: center;
}

.container {
    width: 600px;
    height: auto;
    border: 1px solid black ;
    margin-bottom: 20px;
    padding: 5px;
}

.header {
    display: flex;
    
}

.header>* {
    flex: 1;
    display: flex;
}

.headerchildren {
    justify-content: space-between;
}

#illustrationboxes{
    display: flex;
}

.illustrationbox {
    flex: 1;
}